
  <div class="parent">
    <% @cocktails.each do |cocktail| %>
      <div class="card-cocktail">
        <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-cocktail-infos">
          <h2><%= link_to cocktail.name.capitalize , cocktail_path(cocktail) %>
            </h2>

          <h2>
            <%= link_to "🗑", cocktail_path(cocktail),
            method: :delete,
            data: { confirm: "Are you sure that you want to delete it ?" } %>
            </h2>
        </div>

      </div>
    <% end %>
  </div>

